<ng-container *ngIf="!(finished$ | async)">
    <ng-container *ngIf="!paused">
        <button class="btn btn-sm btn-primary" (click)="pause()">Pause</button>
        <div *ngIf="showTimer" class="timer text-monospace ml-3">{{timer$ | async | number:'3.1-1'}}</div>
    </ng-container>
    <ng-container *ngIf="paused">
        <span class="message">Playback has been paused. Would you like to continue?</span>
        <button class="btn btn-sm btn-primary mr-3" (click)="resume()">Resume
        </button>
    </ng-container>
</ng-container>
<div class="play-again ml-auto mr-3">
    <input #checkInput
           type="checkbox"
           class="mr-2"
           id="playAgain"
           [checked]="playAgain$ | async">
    <label for="playAgain">Don't play again</label>
</div>
<button class="btn btn-sm btn-primary ml-3"
        (click)="close()">{{(finished$ | async) ? 'Close' : 'Skip'}}</button>
