@import "../config";

ws-terminal {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    @include terminal-text();

    @keyframes blink {
        1% {
            opacity: 1;
        }
        49% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        99% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .cursor {
        animation: blink 1s linear infinite;
    }
}
