@import "../demo";

ws-bookmarks {
    display: block;
    color: $color;
    text-align: center;
    border-top: 2px dashed $color;
    padding-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;

    .heading {
        font-family: $font-family-base;
        font-size: 28px;
        color: darken($color, 20);
    }

    .bookmark-image {
        display: block;
        background: url('/assets/images/bookmarks-sample.jpg') center/cover;
        width: (800px / 2);
        height: (605px / 2);
        border: 1px solid $color;
        margin: map-get($spacers, 3) auto;
    }

    .description {
        margin: map-get($spacers, 3) auto map-get($spacers, 5) auto;
        font-family: $font-family-base;
        color: $color;
    }

    .footer {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .btn {
        font-family: $font-family-base;

        &.btn-primary {
            background-color: #7c1d1d;
            border-color: #7c1d1d;
        }

        &, * {
            color: white !important;
        }
    }
}
