@import "../demo";

ws-summary {
    display: flex;
    color: $color;
    max-width: 700px;
    margin: 0 auto map-get($spacers, 5) auto;

    .column {
        width: 50%;
    }

    .brand-logo {
        display: block;
        background: url("/assets/logo/reactgular-logo-256.png") no-repeat;
        width: 256px;
        height: 256px;
        margin: map-get($spacers, 5) auto;
    }

    .heading {
        font-family: $font-family-base;
        font-size: 28px;
        color: darken($color, 20);
    }

    .description {
        font-family: $font-family-base;
        color: $color;
    }

    .footer {
        margin-top: map-get($spacers, 5);
    }

    .summary-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .btn {
        font-family: $font-family-base;

        &.btn-primary {
            background-color: #7c1d1d;
            border-color: #7c1d1d;
        }

        &.btn-secondary {
            background-color: #607d8b;
            border-color: #607d8b;
        }

        &, * {
            color: white !important;
        }
    }
}
