<div class="container">
    <div class="brand-logo"></div>
    <div class="summary-row">
        <h1 class="col-6 heading">
            Hello, I'm Nick Foscarini a software developer from Toronto, Canada.
        </h1>
        <div class="col-6 description">
            I'm a Front-End Developer with 10+ years' experience in software development. I
            have a passion for the front-end and created this website to share examples of what I can do.
        </div>
    </div>
    <div class="summary-row footer">
        <div class="col-12 d-flex">
            <a class="btn btn-primary mr-3" href="https://www.linkedin.com/in/nick-foscarini/"
               (click)="track('LinkedIn')">
                <fa-icon [icon]="faLinkedIn"></fa-icon>
                LinkedIn
            </a>
            <a class="btn btn-primary mr-3" href="https://github.com/reactgular" (click)="track('GitHub')">
                <fa-icon [icon]="faGitHub"></fa-icon>
                GitHub
            </a>
            <a class="btn btn-primary" href="https://stackoverflow.com/users/1031569/reactgular?tab=profile"
               (click)="track('StackOverflow')">
                <fa-icon [icon]="faStackOverflow"></fa-icon>
                Stack Overflow
            </a>
            <button class="btn btn-secondary ml-auto" (click)="replay()">
                Replay Greeting
            </button>
        </div>
    </div>
</div>

